html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

  .navbar {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  } 

  .navbar:hover{
    background-color: #000000;
 } 
  
 .navbar ul{
   display: flex;
} 

.navbar li{
    list-style: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
  } 

  .navbar a:link,
  .navbar a:visited {
    color: #ffffff;
    text-decoration: none;
  } 

  .navbar a:hover,  
  .navbar a:active  {
    text-decoration: none;  
    color: #000000;
  }  

  

  .navbar li:hover {
    background-color: rgb(198, 198, 198);
    color: rgb(0,0,0);
  }  

  .image-bg  {
    background-image: url(images/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    filter: grayscale(50%);
    position: relative;
  } 

 .main-wrapper  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 } 

.main-heading  {
  margin-top: 150px;
  font-size: 100px;
  color: rgb(255,255,255);
  font-weight: 400;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
  text-align: center;
} 

.main-heading-2  {
 display: block;
 margin-bottom: 30px;
} 

.menu-link a {
  background-color: #000000;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
}  

.menu-link a:link , 
.menu-link a:visited {
  color: #ffffff;
}

.menu-link a:hover, 
 .menu-link a:active  {
  color: #000000;
  background-color: rgb(198, 198, 198);
} 

.opening-hours-stamp {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: #000000;
  padding: 0px 7px;
  color: #ffffff;
  font-size: 24px;
}  

.opening-hours-stamp::first-letter {
  font-size: 30px;
}   


/* -------- MENU STYLES START HERE ------- */

.black-bg{
  background-color: #000000;
  padding: 0  20px 100px 20px;
} 

.menu-title{
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  padding: 80px 0;
}

.menu{
  background-color: #ffffff;
  border: 1px solid rgb(133, 133, 133);
  margin: 0 auto;
  padding: 15px;
} 

.dish, 
.dish-last {
  font-size: 30px;
  line-height: 2;
  border-bottom: 1px solid rgb(214, 214, 214) ;
  letter-spacing: 1px;
  padding: 30px 0;
} 

.dish-last{
  border-bottom: none;
} 
.dish-name-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.price  {
  background-color: rgb(85, 85, 85);
  color: #ffffff;
  padding: 0px 5px;
  border-radius: 5px;
}  

.hot-span  {
  background-color: rgb(250, 75, 75);
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  font-weight: normal;
}   

.new-span  {
  background-color: rgb(162, 162, 162);
  padding: 5px;
  border-radius: 4px;
  font-weight: normal;
}   

.toppings  {
 color: rgb(137, 137, 137);
} 

/* -------- ABOUT STYLES START HERE ------- */

.about-bg {
  background-color: #f44336 ;
  filter: grayscale(70%);
  color: #ffffff;
} 

.about{
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
  width: fit-content;
  line-height: 2;
}

.about-info {

  font-size: 25px;
}

.about-info h3{
  font-size: 50px ;
  text-align: center;
  font-size: 50px;
  padding: 40px 0;
}

.about-chef-row {
  font-size: 25px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 


.chef-img {
  width: 150px;
  border-radius: 50%;
} 

.restaurant-img{
  width: 100%;
 } 

 .opening-hours-title{
  font-size: 30px;
  margin: 15px auto;
 } 

 .opening-hours-flex {
  font-size: 25px;
  display: flex;

}

.opening-hours-flex div{
  width: 100%;
}


/* -------- CONTACT STYLES START HERE ------- */


#contact-sec {
  background-color: #607d8b;
  filter: grayscale(40%);

}

.map-img {
  width: 100%;
  filter: grayscale(70%);
}

.contact {
  width: fit-content;
  padding: 60px 20px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 1.6;
  font-size: 22px;
  
}  

.tel {
  color: #ffffff !important;      
} 

.contact h3{
  text-align: center;
  font-size: 60px;
}  

.fyi  {
  padding: 4px 8px ;
  background-color: #000000;
} 

.h3-subheading  {
  margin: 20px 0 ;
 
} 

.reserve-tbl-h4 {
  font-size: 29px;
  margin: 20px 0;
} 

.form-fields,
.send-btn {
  font-family: "Amatic SC", sans-serif;
  display: block;
  padding: 20px 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 25px;
  border: none;
  color: #000000;
} 

.send-btn {
  padding: 8px;
  cursor: pointer;
  background-color: #ffffff;
}  

.send-btn:hover {
  background-color: #bfbfbf;
}  


/* -------- FOOTER STYLES START HERE ------- */

footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
  height: 150px;
  font-size: 40px;
  padding-top: 50px;
} 

.w3-li:link, 
.w3-li:visited,
.w3-li:hover,
.w3-li:active{
  color: #ffffff;
}  

  /*    {}     */

@media only screen and (max-width: 600px) {
  .navbar{
  display: none;
 }  
 .menu{
  width: fit-content;
 } 
 .about{
  width: fit-content;
 } 
 .opening-hours-flex {
  width: 100%;
 }
 .chef-img {
   width: 100px;
   } 

 }

 @media only screen and (min-width: 900px) {
  .menu{
   width: 900px;
  } 
  .about{
    width: 900px;
   } 
   .restaurant-img{
    width: 100%;
   } 
   .contact{
    width: 900px;
   } 
   
  }



